@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.headerNav {
  display: flex;
  align-items: center;
}
.headerNavLink {
  width: 50%;
  font-weight: 500;
  text-align: center;
  margin-top: 10%;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
  padding-bottom: 3%;
}
.headerNavLink[data-active=true] {
  color: #0065FC;
}
.headerNavLink:hover {
  color: #0065FC;
}
.headerSignup {
  position: absolute;
  top: 2.5%;
  right: 10%;
  color: #0065FC;
  font-weight: 600;
}

.header {
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
}
.header {
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . button" "navbar navbar navbar";
}
.headerimg {
  order: 0;
}
.headerSignup {
  order: 1;
}
.headerNav {
  order: 2;
}
.headerNavLink {
  border-bottom: 3px solid #F2F2F2;
  width: 50%;
}
.headerNavLink[data-active=true] {
  border-bottom-color: #0065FC;
}
.headerNavLink:hover {
  border-bottom-color: #0065FC;
}
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.searchHeaderTitle {
  margin-bottom: 0.8px;
  font-size: 35px;
}
.searchHeaderSubtitle {
  margin-top: 0;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.searchFormWrapicon {
  background-color: #F2F2F2;
  padding: 16px 20px;
  border-radius: 16px 0 0 16px;
  text-align: center;
}
.searchFormWrapiconIcon {
  margin-left: 2px;
}
.searchFormSearchinput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 24px;
  box-sizing: border-box;
  width: 224px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.searchFormSearchinput::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 16px;
  color: #00000069;
}
.searchFormSubmitinput {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 16px 16px 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 24px;
  cursor: pointer;
}
.searchFilters {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
}
.searchFiltersTitle {
  margin: 0 32px 16px 0;
  display: flex;
  align-items: center;
}
.searchFiltersFilter {
  display: flex;
  align-items: center;
  margin-right: 32px;
  border: 2px solid #d9d9d9;
  border-radius: 32px;
  margin-bottom: 16px;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.searchFiltersFilter:last-child {
  margin-right: 0;
}
.searchFiltersFilter:hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}
.searchFiltersFilterWrapicon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  min-height: 56px;
  min-width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.searchFiltersFilterWrapiconIcon {
  color: blue;
}
.searchFiltersFilterTitle {
  margin: 0 16px;
}
.searchResult {
  display: flex;
  align-items: center;
  margin: 16px 0 32px 0;
}
.searchResultWrapicon {
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.searchResultWrapiconIcon {
  color: #0065FC;
}
.searchResultText {
  margin: 0;
}


.searchForm {
  display: flex;
  width: 100%;
}
.searchFormSearchinput {
  flex: 1;
}
.searchFormSearchinputText {
  display: none;
}
.searchFormSearchinputIcon {
  display: block;
}

.searchFiltersTitle {
  width: 100%;
}
.searchFiltersFilter {
  margin-right: 16px;
}

.searchFormSubmitinputText {
  display: block;
}
.searchFormSubmitinputIcon {
  display: none !important;
}

.hostingWrapper, .hostingPopular, .hostingMain {
  background-color: #F2F2F2;
  border-radius: 24px;
  padding: 32px;
}
.hosting {
  display: grid;
  column-gap: 32px;
  grid-template-columns: 6fr 3fr;
}
.hostingMain {
  display: grid;
  column-gap: 32px;
  row-gap: 32px;
}
.hostingMainHeader {
  grid-column: 1/-1;
}
.hostingMainHeaderTitle {
  margin: 0;
}
.hostingMainCard {
  background-color: white;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.hostingMainCard:hover {
  transform: scale(1.02);
}
.hostingMainCardFigure {
  margin: 0;
}
.hostingMainCardFigureImg {
  height: 112px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
}
.hostingMainCardFigureCaptionTitle {
  margin: 4px 12px 0 12px;
}
.hostingMainCardDesc {
  margin: 4px 12px 4px 12px;
}
.hostingMainCardDescPrice {
  font-weight: bold;
}
.hostingMainCardGrade {
  margin: 0 12px 4px 12px;
}
.hostingMainCardGradeIcon[data-active=true] {
  color: #0065FC;
}
.hostingMainCardGradeIcon[data-active=false] {
  color: #d9d9d9;
}
.hostingMainViewmore {
  font-weight: bold;
}
.hostingPopular {
  display: grid;
  row-gap: 32px;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.hostingPopularTitle {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.hostingPopularWrapcontent {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
.hostingPopularWrapcontentWrapimg {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.hostingPopularWrapcontentWrapimgImg {
  border-radius: 16px 0 0 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hostingPopularWrapcontentContent {
  display: flex;
  flex-direction: column;
}
.hostingPopularWrapcontentContentWhitespace {
  flex: 1;
}
.hostingPopularhostingMainCard {
  height: 140px;
}




.hosting {
  grid-template-columns: 1fr;
  row-gap: 32px;
}
.hostingPopular {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 160px;
  column-gap: 32px;
  grid-row-start: 1;
}
.hostingPopularTitle {
  grid-column: 1/-1;
}

.hostingMain {
  grid-template-columns: repeat(3, 1fr);
}
.hostingMain {
  grid-template-columns: 1fr 1fr;
}
.hostingMain {
  grid-template-columns: 1fr;
}
.hostingPopular {
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 144px);
}

.activity {
  display: grid;
  column-gap: 32px;
  margin: 64px 0;
}
.activityTitle {
  grid-column: 1/-1;
}
.activityCard {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.activityCard:hover {
  transform: scale(1.01);
}
.activityCardWrapimg {
  position: relative;
  flex: 1;
}
.activityCardWrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityCardTitle {
  margin: 19.2px 24px;
}


.activity {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 224px 32px 32px 32px 224px;
}
.activityCard1 {
  grid-row: 2/7;
  grid-column: 1/2;
}
.activityCard2 {
  grid-column: 2/3;
  grid-row: 2/5;
}
.activityCard3 {
  grid-column: 3/4;
  grid-row: 2/7;
}
.activityCard4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.activityCard5 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.activityCard6 {
  grid-column: 4/5;
  grid-row: 4/7;
}

.activity {
  row-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 192px 192px;
}
.activity {
  row-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 192px 192px 192px;
}
.activity {
  row-gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 192px 192px 192px 192px 192px 192px;
}




.footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footerColumnwrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}
.footerColumnwrapperColumn {
  width: 30%;
  padding: 32px 32px;
}
.footerColumnwrapperColumnLink {
  display: block;
  margin: 16px 0;
}
.footerColumnwrapperColumnLink:hover {
  text-decoration: underline;
}



.footerColumnwrapper {
  flex-direction: column;
  padding: 32px;
}
.footerColumnwrapperColumn {
  width: 100%;
  padding: 0;
  margin: 16px 0;
}
.footerColumnwrapperColumn:first-child {
  margin-top: 0;
}
.footerColumnwrapperColumn:last-child {
  margin-bottom: 0;
}
.footerColumnwrapperColumnTitle {
  margin: 0;
}
.footerColumnwrapperColumnLink:last-child {
  margin-bottom: 0;
}
